:root {
  --background-color: #010008;
  --foreground-color: #f1f8ff;
}
body {
  background-color: var(--background-color);
  font-family: "Outfit", sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
.mousePointer {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: var(--foreground-color);
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 99999;
  mix-blend-mode: difference;
}
.sectionOne {
  display: flex;
  flex-direction: column;
}
.sectionOne .paraOne{
  margin-top: 32px;
}



