.mainHeaderCont {
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px;
}

.headerCont {
  width: 50vw;
  height: 42px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  border-radius: 16px; 
  background-color: #f1f8fffb; 
  border: 1px solid #000;
  
  
}
.logoImg {
  width: 64px;
  margin: 4vw;
}

.linkCont {
  display: flex;
  flex-direction: row;
  margin-right:4vw ;

}

.linkCont > p {
  margin-left: 30px;
  font-weight: 600;
  font-family: consolas;
  font-size: medium;
}

.linkCont p {
  display: inline-block;
  position: relative;
  cursor: pointer;
  padding: 5px 0;
  margin: 0 10px;
  color: #000;
  text-decoration: none;
}

.linkCont p::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #000;
  left: 50%;
  bottom: 0;
  transition: width 0.4s ease, left 0.4s ease;
}

.linkCont p:hover::after {
  width: 100%;
  left: 0;
}
